body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.navbar {
  background-color: rgb(25, 26, 28);
  margin: 0;
  padding: 0 1vw;
  min-height: 70px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.left-side {
  display: flex;
  height: 100%;
  align-items: center;
}

/* LOGO */

.left-side #clip-logo {
  margin-bottom: 4px;
}

.left-side #chill-logo {
  margin-left: -6px;
}

/* Daftar */

#list {
  margin: 1vh 1vw;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 50vw;
  height: 100%;
}

li {
  float: left;
  padding: 0 2vw;
}
li a {
  text-decoration: none;
  display: block;
  color: white;
  font-size: calc(9px + 1vw);
}

/* Login */

.account-btn {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 160%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  right: 8px;
}

.account-btn:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: aliceblue;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(25, 26, 28);
}

.dropdown-content a:hover {
  color: rgb(25, 26, 28);
  background-color: aliceblue;
}

/* Section 1 */

/* background */
.hero-section {
  background-image: url(https://akcdn.detik.net.id/visual/2023/03/29/drama-korea-duty-after-school-2023_169.jpeg?w=650&q=90);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  height: 600px;
}
.bg-gradient {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(51, 51, 51, 0.5),
    #191a1c
  );
  height: 100%;
}

.desc {
  padding: 18vw 3.5vw 13vw 3.5vw;
  align-items: center;
}

/* Judul */
.movie-title {
  margin-top: 50px;
  font-size: calc(30px + 1vw);
  color: aliceblue;
  margin: 0;
  font-weight: bold;
}

/* Deskripsi */
.desc p {
  color: aliceblue;
  font-size: calc(1px + 1.5vw);
  max-width: 50%;
  max-height: 100px;
}

/* Ikon */
.movie-icon {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.icon-left {
  display: flex;
  align-items: center;
}

.play-btn {
  margin-right: 1vw;
}

.play-btn button {
  padding: 5px 20px;
  border-style: none;
  border-radius: 25px;
  background-color: blue;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
}

.play-btn button:hover {
  background-color: #191a1c;
}

.other {
  margin: 0 1vw;
}

.other a {
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
  background-color: #191a1c;
  padding: 8px 20px;
  border-radius: 25px;
}

.other a:hover {
  text-decoration: underline;
}

.icon-left p {
  font-size: 20px;
  margin: 0 0 0 15px;
  padding: 7.5px 5px;
  border: solid 1px aliceblue;
  border-radius: 50px;
}

.movie-icon img {
  width: calc(height);
  height: 100%;
  margin-right: 5vw;
  border: solid 1px aliceblue;
  padding: 10px;
  border-radius: 50%;
}

/*All Section */

.con-section {
  background-color: #191a1c;
  width: 100%;
  height: 350px;
  padding: 4vw;
}

.section {
  background-color: #191a1c;
  width: 100%;
  height: 480px;
  padding: 2vw 4vw 0 4vw;
}

/* All Judul */
.section-title {
  margin: 0;
  color: aliceblue;
  font-size: 35px;
  padding-bottom: 30px;
}

/* Bagian film */
.movie-con {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100%;
  gap: 20px;
}

.movie-grid {
  height: 180px;
  width: 320px;
  background-size: cover;
  border-radius: 10px;
}

/* background */
.bg-1 {
  background-image: url(https://jeurnals.b-cdn.net/wp-content/uploads/DLU-cover.jpeg);
}

.bg-2 {
  background-image: url(https://asset.kompas.com/crops/fLFkvYIecWo1QtC2wHcCFV126TE=/0x5:1000x505/780x390/data/photo/2021/12/28/61cabe1bdc381.png);
}

.bg-3 {
  background-image: url(https://www.lazone.id/storage/news/Januari_2023/03_Januari/Movie/orig-blue%20lock-cover.jpg);
}

.bg-4 {
  background-image: url(https://imgx.sonora.id/crop/0x0:0x0/x/photo/2023/07/24/aaaabbr_ni4lpwefiuryqcin3_tkyq9f-20230724023712.jpg);
}

.gradient {
  display: flex;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(51, 51, 51));
  border-radius: 10px;
  justify-content: space-between;
}

.mini-title h3 {
  margin: 0;
  font-size: 20px;
  margin-top: 140px;
  margin-left: 20px;
  color: aliceblue;
}

.rate p {
  margin: 0;
  font-size: 15px;
  margin-right: 20px;
  margin-top: 125px;
  color: aliceblue;
}

/* container Section */

.film-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.film-container img {
  height: 350px;
  border-radius: 5%;
}

hr {
  margin: 0;
  padding-top: 100px;
  border: none;
  border-bottom: 2px solid #333;
  background-color: #191a1c;
}

/* Footer */

.foot-container {
  background-color: #191a1c;
  height: 200px;
  width: 100%;
  display: flex;
}

.left-foot {
  width: 25%;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-foot img {
  padding-right: 90px;
}

.left-foot p {
  color: grey;
  margin-top: 0;
}

.mid-foot {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-left: 60px;
}

.mid-foot p {
  font-size: 20px;
}

.genre-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.genre-grid a {
  text-decoration: none;
  color: grey;
  padding-bottom: 10px;
}

.right-foot {
  width: 25%;
  color: #fff;
  margin-left: 50px;
}

.right-foot p {
  font-size: 20px;
}

.grid-help {
  display: flex;
  flex-direction: column;
}

.grid-help a {
  text-decoration: none;
  color: gray;
  padding-bottom: 10px;
}

@media screen and (max-width: 426px) {
  .left-side #chill-logo {
    display: none;
  }
  .left-side #clip-logo {
    width: 30px;
    margin-left: 15px;
  }

  .account-btn img {
    width: 70px;
    margin-right: 10px;
    margin-top: 5px;
  }

  .hero-section {
    height: 250px;
  }

  .desc p {
    max-width: 100%;
    white-space: nowrap;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .movie-icon {
    height: 25px;
  }

  .movie-icon img {
    height: 80%;
    padding: 2px;
  }

  .play-btn button {
    font-size: calc(0.6 * 25px);
  }

  .other a {
    font-size: calc(0.6 * 25px);
  }

  .overflow {
    overflow: auto;
  }

  .con-section {
    height: 270px;
    padding-bottom: 0;
  }

  .section {
    height: 250px;
    padding-top: 0;
  }

  .section-title {
    font-size: 25px;
    padding-bottom: 10px;
  }

  .film-container {
    gap: 10px;
  }

  .film-container img {
    height: 175px;
  }
}
